extends layout
block content 
  include headers/_cardBuilder
  .card-builder
    .right
      img#card.card-image(style='background-image: url(images/defaultCard.png)')
    .left
      .card-image(style='background-image: url(images/jasonimg.jpg)', onclick="document.getElementById('card').style='background-image: url(images/jasonCard.png)'")

      .card-image(style='background-image: url(images/cat.jpg)', onclick="document.getElementById('card').style='background-image: url(images/catCard.png)'")

      .card-image(style='background-image: url(images/dude.jpg)', onclick="document.getElementById('card').style='background-image: url(images/dudeCard.png)'")

      .card-image(style='background-image: url(images/tropicall.png)', onclick="document.getElementById('card').style='background-image: url(images/tropicalCard.png)'")

      .card-image(style='background-image: url(images/defaultCard.png)', onclick="document.getElementById('card').style='background-image: url(images/defaultCard.png)'")
  div(class="form-group")
    a(href="/congrats?card=") Done