extends layout

block content
  include headers/_customize

  script.
    $( function() {
      var locations = [!{locations}];
      $( "#loc" ).autocomplete({
        source: locations
      });
    });

  form(method="post" action="/judgeCard")

    h2 Choose your preferences

    div(class="form-group")
      label(for="email") Email:
      input(type="email" class="form-control" name="email" id="email")

    div(class="form-group")
      label(for="income") Income:
      input(type="number" class="form-control" name="income" id="income" placeholder="Income")
    
    div(class="form-group")
      label(for="debt") Debt:
      input(type="number" class="form-control" name="debt" id="debt" placeholder="Debt")

    div(class="form-group")
      label(for="location") Metro Area/State
      input(type="text" class="form-control" name="loc" id="loc" placeholder="City/State")
    
    div(class="form-group")
      select(id="cashortravel" name="cashortravel")
        option(value="cash") Cash Back
        option(value="travel") Travel Rewards


    button(type="submit" class="btn btn-default") View Card