extends layout

block content
  h1= title
  p Welcome to #{title}

  form(method="post" action="/judgeCard")

    h2 Choose your preferences

    div(class="form-group")
      label(for="income") Income:
      input(type="number" class="form-control" name="income" id="income" placeholder="Income")
    
    div(class="form-group")
      label(for="debt") Debt:
      input(type="number" class="form-control" name="debt" id="debt" placeholder="Debt")

    div(class="form-group")
      label(for="location") Zip Code
      input(type="number" class="form-control" name="zip" id="zip" placeholder="Zip Code")
    
    div(class="form-group")
      select(id="cashortravel" name="cashortravel")
        option(value="cash") Cash Back
        option(value="travel") Travel Rewards


    button(type="submit" class="btn btn-default") View Card