extends layout

block content
  .title-area
    .title-text
      h1= title
      p Welcome to #{title}
    include mixins/_bag

  form(method="post" action="/judgeUser")

    h2 Sign Into Your Capital One Account

    div(class="form-group")
      label(for="email") Email:
      input(type="email" class="form-control" name="email" id="email")
    
    div(class="form-group")
      label(for="password") Password:
      input(type="password" class="form-control" name="password" id="password")

    div(class="form-group")
      select(id="cashortravel" name="cashortravel")
        option(value="cash") Cash Back
        option(value="travel") Travel Rewards

    button(type="submit" class="btn btn-default") Log In

  h2 Or

  a(href="customizeCard") Build your own card